<div id="<%= dom_id gcard %>">
  <p>
    <strong>Code:</strong>
    <%= gcard.code %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= gcard.amount %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= gcard.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gcard.description %>
  </p>

</div>
