<p style="color: green"><%= notice %></p>

<%
=begin%>
 <%= render @gcard %>

<div>
  <%= link_to "Edit this gcard", edit_gcard_path(@gcard) %> |
  <%= link_to "Back to gcards", gcards_path %>

  <%= button_to "Destroy this gcard", @gcard, method: :delete %>
</div> 
<%
=end%>

<h1>Redeem Code</h1>
