<p style="color: green"><%= notice %></p>

<%= render @gcard %>

<div>
  <%= link_to "Edit this gcard", edit_gcard_path(@gcard) %> |
  <%= link_to "Back to gcards", gcards_path %>
  <%= link_to "Redeem this gcard", gcard_redeem_path(@gcard) %>
  <%= button_to "Destroy this gcard", @gcard, method: :delete %>
</div>
