<!--  <div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Sales Count:</strong>
    <%= product.count %>
  </p>

  <p>
    <% if @cart.include?(product) %>
      <%= button_to "Remove from cart", remove_from_cart_path(product), method: :delete %>
    <% else %>
      <%= button_to "Add to cart", add_to_cart_path(product) %>
    <% end %>
  </p>



  <%# <script async
    src="https://js.stripe.com/v3/buy-button.js">
  </script>

  <stripe-buy-button
    buy-button-id="buy_btn_1My5UiSFuVgopAlyWeMvDDb5"
    publishable-key="pk_test_51My5PISFuVgopAlyIE8iYXHMJ6nzdaW6Upa6vXXVA7iwr07UeFPDQNvQmpjdcFzzUPWGx4VxDQvrdWDQGlCnfYw500tQwv0Xti"
  >
  </stripe-buy-button> %>

</div> -->


<div id="<%= dom_id product %>" class="columns mt-6 is-centered">
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title", style="background-color:#DBF9FC"><%= product %></p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>Name : <span class="has-text-weight-bold"><%= product %></span></p>
            <p>Amount : <span class="has-text-weight-bold"><%= product.price %></span></p>
            <p class="italic">Launched : <%= time_ago_in_words (product.created_at) %> ago</p>
          </div>
        </div>

        <div class="card-footer">
          <%= link_to "Show", product, class: "card-footer-item" %>
          <% if !!current_employee %>
            <% if @cart.include?(product) %>
              <%= button_to "Remove from cart", remove_from_cart_path(product), method: :delete, class:"card-footer-item" %>
            <% else %>
              <%= button_to "Add to cart", add_to_cart_path(product), class:"card-footer-item button is-primary" %>
            <% end %>            
          <% end %>
        </div>
      </div>
    </div>
</div>
